ion-content {
    --background: linear-gradient(0deg, #F45B54 35%, #f3615c);
}

ion-toolbar {
    --background: #F45B54;
    // --border-style: none;
}

ion-icon {
    padding-right: 0px;
    color: white;
}

.bg-transparent {
    background: transparent;
}

.bg-transparent ion-label {
    color: black;
    font-weight: bold;
}

h3 {
    margin-top: -12px;
    margin-bottom: 5px;
    font-weight: 459;
    line-height: 1.2;
    margin-left: 10px;
    color: whitesmoke;
}

ion-card {
    background: #fe876f;
}

.user {
    margin-left: 10px;
    align-content: flex-start;
}

ion-row {
    display: flex;
}

ion-label {
    font-weight: bolder;
}

ion-fab-button {
    --background: #f3615c;
    margin-top: 524px;
    margin-left: 288px;
    box-shadow: 10 10 10 10 rgba(#5a99d4, .3);
}

ion-card-header {
    margin-top: -66px;
}

.icon-delete {
    margin-left: 304px;
    margin-top: 16px;
    font-size: 24px;
}