ion-content {
    --background: linear-gradient(0deg, #F45B54 35%, #f3615c);
}

ion-toolbar {
    --background: transparent;
    // --border-style: none;
}

ion-icon {
    padding-right: 10px;
    color: white;
}

.bg-transparent {
    background: transparent;
}

.bg-transparent ion-label {
    color: black;
    font-weight: bold;
}

h3 {
    margin-left: 10px;
    color: whitesmoke;
}

ion-card {
    background: #fe876f;
}

.user {
    margin-left: 10px;
    align-content: flex-start;
}

ion-row {
    display: flex;
}

ion-label {
    font-weight: bolder;
}