<ion-header>
  <ion-toolbar>
    <ion-buttons class="icon-only" slot="end">
      <!-- <ion-icon name="add-circle-outline" slot="end" routerLink="/add-field"></ion-icon> -->
    </ion-buttons>
    <ion-back-button defaultHref="admin-view" slot="start"></ion-back-button>
    <ion-title>Fields</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" overflow-scroll="false">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" type="add" href="add-field">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ng-container>
    <ion-card *ngFor="let user of users">
      <!-- <ion-button (click)="delete($event)" icon-only>
                <ion-icon class="icon-delete" name="ellipsis-vertical-outline"></ion-icon>
            </ion-button> -->
      <ion-fab class="delete" top right>
        <button ion-fab (click)="delete($event)">
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </button>
      </ion-fab>
      <!-- <ion-section> -->
      <ion-card-header no padding>
        <h1>{{user.farmId.fieldname}}</h1>
      </ion-card-header>

      <h3>{{user.farmId.area}}</h3>
      <h3>{{user.farmId.location}}</h3>

      <h3>{{user.farmId.device}}</h3>
      <!-- <h6>{{field.worker}}</h6>-->
      <ion-row>
        <ion-icon class="user" name="person-outline"></ion-icon> &nbsp;
        <ion-label>{{user.username}}</ion-label>
      </ion-row>
      <!-- </ion-section> -->
    </ion-card>
  </ng-container>
</ion-content>
