ion-content {
    //--background: linear-gradient(0deg, #F45B54 35%, #f3615c);
    --background: linear-gradient(315deg, #9cdaf8 56%, #98fcbd 74%);
}

ion-toolbar {
    --background: #98fcbd;
    // --border-style: none;
}

ion-icon {
    padding-right: 0px;
    color: black;
}

.bg-transparent {
    background: transparent;
}

.bg-transparent ion-label {
    color: black;
    font-weight: bold;
}

h3 {
    padding-bottom: 3px;
    margin-top: -12px;
    margin-bottom: 5px;
    //  font-weight: 459;
    font-size: 18px;
    line-height: 1.2;
    margin-left: 10px;
    color: #167129;
    font-family: 'Open Sans Condensed', sans-serif;
}

ion-card {
    background: transparent;
    box-shadow: 0px 0px 6px 1px darkcyan;
    height: 26%;
}

.user {
    margin-left: 10px;
    align-content: flex-start;
}

ion-row {
    display: flex;
}

ion-label {
    font-weight: bolder;
}

ion-fab-button {
    --background: #98fcbd;
    margin-bottom: 28px;
    margin-right: 22px;
    box-shadow: 10 10 10 10 rgba(#5a99d4, .3);
}

ion-card-header {
    margin-top: -20px;
    color: #4c5945;
}

h1 {
    color: #4c5945;
    font-family: 'Alfa Slab One', cursive;
}

.icon-delete {
    margin-left: 304px;
    margin-top: 16px;
    font-size: 24px;
}

ion-button {
    width: 18px;
    margin-left: 302px;
}

.delete {
    margin-left: 90%;
    --background-hover: transparent;
    margin-right: auto;
}

button {
    margin-top: 13px;
    background: none;
    font-size: 22px;
}

.h3 {
    margin-left: 6px;
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.icon-location {
    margin-left: 18px;
    margin-top: -9px;
    font-size: 19px;
}

.icon-area {
    margin-left: 21px;
}

h4 {
    font-size: 20px;
    margin-top: -5px;
    margin-left: 10px;
    color: #c46b6b;
    font-family: 'Oxanium', cursive;
}

.icon-device {
    margin-left: 21px;
    margin-top: -5px;
}