<ion-header>
    <ion-toolbar>
        <ion-buttons class="icon-only" slot="end">
            <!-- <ion-icon name="add-circle-outline" slot="end" routerLink="/add-field"></ion-icon> -->
        </ion-buttons>
        <ion-back-button defaultHref="admin-view" slot="start"></ion-back-button>
        <ion-title>Fields</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" overflow-scroll="false">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button type="add" (click)="addField()">
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ng-container *ngFor="let field of fields">
        <ion-card>
            <ion-row>
                <ion-fab class="delete" top right>
                    <button ion-fab (click)="delete(field)">
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </button>
                </ion-fab>
            </ion-row>
            <ion-card-header no padding>
                <h1>{{field.fieldname}}</h1>
            </ion-card-header>
            <ion-row>
                <ion-icon class="icon-area" name="golf-outline">

                </ion-icon>
                <h4>{{field.area}}</h4>
            </ion-row>
            <ion-row>
                <ion-icon class="icon-location" name="location-outline"></ion-icon>


                <h3 class="h3">{{field.location}}</h3>
            </ion-row>
            <ion-row>
                <ion-icon class="icon-device" name="radio-outline"></ion-icon>


                <h3>{{field.device}}</h3>
            </ion-row>
        </ion-card>
    </ng-container>
</ion-content>