ion-content {
    //--background: url('/assets/background.png') no-repeat center/cover fixed;
    //--background: linear-gradient(90deg, rgb(255, 204, 204), #ffcccc) no-repeat center/cover fixed;
    // --background: linear-gradient(to right, #dd5e89, #f7bb97);
    //--background: linear-gradient(0deg, #abdcff, #d396ff);
    //--background: linear-gradient(0deg, #F45B54 35%, #f3615c);
    --background: linear-gradient(315deg, #3ee577 19%, #42fcdb 100%);
}

ion-toolbar {
    --background: transparent;
    // --border-style: none;
}

.bg-transparent {
    background: transparent;
}

.bg-transparent ion-label {
    color: whitesmoke;
    font-weight: bold;
    margin-top: -26px;
}

.add {
    margin-right: 10px;
}

ion-icon {
    color: white;
    .add-user {
        --margin-left: 1px;
        --width: 88%;
    }
}

ion-item {
    --border-color: whitesmoke;
    --background: transparent;
}

ion-back-button {
    color: whitesmoke;
}

ion-fab-button {
    --background: #3ee577;
    margin-bottom: 27px;
    margin-right: 22px;
    box-shadow: 10 10 10 10 rgba(#5a99d4, .3);
}

.bg-transparent .lbl-field {
    // padding-left: 1px;
    margin-top: 54px;
    margin-left: 0px;
    color: grey;
}

.bg-transparent .icon-field {
    margin-top: 38px;
    margin-left: -291px;
    padding-right: 6px;
}

.bg-transparent .user {
    margin-top: -41px;
}

.bg-transparent .check {
    color: #185718c4;
}