ion-content {
    // --background: linear-gradient(to bottom, #DEFBE6, #28E0AE);
    --background: linear-gradient(286deg, #03e5b7 57%, #037ade 217%);
}

ion-toolbar {
    --background: transparent;
    // --border-style: none;
}

ion-title {
    margin-left: 70px;
}

.buttons {
    padding-left: 38%;
    padding-top: 20px;
    // --background: #03e5b7;
}

ion-button {
    --background: #03e5b7;
}

ion-card {
    border-radius: 6px;
    --background: linear-gradient(657deg, #0090FF 50%, #28E0AE 42%);
    box-shadow: 0px 1px 17px 2px darkseagreen;
    height: 58%;
}

ion-item {
    --background: transparent;
}

.validation-errors {
    //padding-left: 20px;
    text-align: end;
    color: var(--ion-color-danger);
    font-size: small;
}

.error {
    .error-message {
        text-align: center;
        color: var(--ion-color-danger);
        font-size: small;
        margin-left: 10px;
    }
    .success-message {
        text-align: center;
        color: var(yellow);
        font-size: small;
        margin-left: 10px;
    }
}

ion-input {
    --color: black;
}