<ion-header>
    <ion-toolbar>
        <ion-back-button defaultHref="admin-view-users" slot='start'></ion-back-button>
        <ion-title>Add User</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-card>
        <form class="form" [formGroup]="validations_form" (ngSubmit)="registerworker(validations_form.value)">
            <ion-row justify-content-centre>
                <ion-col align-self-center>
                    <div text-center>

                    </div>
                    <div padding>
                        <ion-item class="name-box">
                            <ion-input type="text" placeholder="Username"> </ion-input>
                        </ion-item>
                        <ion-item class="email-box">
                            <ion-input formControlName="email" type="email" placeholder="Email" required> </ion-input>
                        </ion-item>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.email">
                                <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                                    {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>
                        <br>



                        <ion-item class="password-box">
                            <ion-input formControlName="password" type="password" placeholder="Password" required></ion-input>
                        </ion-item>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.password">
                                <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                                    {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>
                        <ion-item class="Device-box">
                            <ion-input type="text" placeholder="Device"> </ion-input>
                        </ion-item>


                    </div>
                </ion-col>
            </ion-row>
            <div class="error">
                <label class="error-message">{{errorMessage}}</label>
                <label class="success-message">{{successMessage}}</label></div>
            <ion-row class="buttons">
                <ion-button type="submit" class="button" shape="round" expand="block">ADD</ion-button>
                <ion-button class="button" shape="round" expand="block">UPDATE</ion-button>
            </ion-row>
        </form>
    </ion-card>

</ion-content>