ion-content {
    --background: linear-gradient(to bottom, #DEFBE6, #28E0AE);
}

ion-toolbar {
    --background: transparent;
    // --border-style: none;
}

ion-title {
    margin-left: 70px;
}

.buttons {
    padding-left: 120px;
    padding-top: 20px;
}

ion-card {
    border-radius: 10px;
    --background: linear-gradient(to bottom, #0090FF, #28E0AE);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 10px 6px rgba(0, 0, 0, 0.23);
    height: 52%;
}

ion-item {
    --background: transparent;
}

.validation-errors {
    //padding-left: 20px;
    text-align: end;
    color: var(--ion-color-danger);
    font-size: small;
}

.error {
    .error-message {
        text-align: center;
        color: var(--ion-color-danger);
        font-size: small;
        margin-left: 10px;
    }
    .success-message {
        text-align: center;
        color: var(yellow);
        font-size: small;
        margin-left: 10px;
    }
}