<ion-header>
    <ion-toolbar>
        <ion-buttons class="icon-only" slot="end">
            <div class="icon" routerLink='/add-smartdevices'>
                <img src="../../assets/farmadd.png">
            </div>
        </ion-buttons>
        <ion-back-button defaultHref="administrator" slot='start'></ion-back-button>
        <ion-title>Smart Devices</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-card>

        <ion-card-header no padding>
            <strong>Farhan ALI</strong>
            <ion-label>Attached</ion-label> ABCG32
        </ion-card-header>
        <h6>Rice Field</h6>
        <h6>2 Acre</h6>
        <h6>Lahore Chak 2</h6>




    </ion-card>
</ion-content>