ion-content {
    // --background: linear-gradient(to bottom, #FCF766, #D1FE3B);
    --background: linear-gradient(315deg, #f6fba2 46%, #20ded3 74%);
}

ion-toolbar {
    --background: transparent;
    // --border-style: none;
}

.icon {
    width: 32px;
    height: 25px;
    padding-right: 10px;
    margin-top: 2px;
    cursor: pointer;
}

.bg-transparent {
    background: transparent;
}

.bg-transparent ion-label {
    color: black;
    font-weight: bold;
}

ion-card-header {
    color: black;
}

ion-title {
    padding-left: 70px;
}

ion-icon {
    padding-right: 0px;
    margin-left: 5px;
    color: #ff010d;
}

h6 {
    margin-left: 25px;
    color: #644d0a;
}

ion-card {
    background: #FFFFFF;
    opacity: 0.7;
}

.user {
    margin-left: 10px;
    align-content: flex-start;
}

ion-row {
    display: flex;
}

ion-label {
    font-weight: bolder;
    color: green;
    margin-left: 5px;
}

button {
    // margin-left: 300px;
    // margin-top: 9px;
    font-size: 22px;
    background: transparent;
}

.delete {
    background: transparent;
    margin-top: 9px;
    //   font-size: 22px;
    margin-left: 89%;
}
.device-name{
    margin-inline-start: 6px;
}