<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons class="icon-only" slot="end">
      <div class="icon" routerLink="/add-farmer">
        <img src="../../assets/farmadd.png" />
      </div>
    </ion-buttons> -->
    <ion-back-button defaultHref="administrator" slot="start"></ion-back-button>
    <ion-title>Farmers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-card *ngFor="let user of users">
    <ion-fab class="delete" top right>
      <button ion-fab (click)="deleteFarmer(user)">
        <ion-icon name="close-circle-outline"></ion-icon>
      </button>
    </ion-fab>
    <ion-card-header no padding>
      <ion-icon class="user" name="person-outline"></ion-icon> &nbsp;
      <strong> {{user.username}} </strong>
    </ion-card-header>
    <ion-row>
    <ion-icon  class="email" name="mail-outline"></ion-icon>
    <h6>{{user.email}}</h6>
    </ion-row>
    <!-- <h6>{{field.area}}</h6>
    <h6>{{field.location}}</h6> -->
  </ion-card>
</ion-content>
