    ion-content {
        // --background: linear-gradient(to bottom, #FCF766, #D1FE3B);
        // background-color: #f5f186;
        --background: linear-gradient(426deg, #f5f186 53%, #9dfbc8 94%);
    }
    
    ion-toolbar {
        --background: transparent;
        // --border-style: none;
    }
    
    .icon {
        width: 25px;
        height: 25px;
        padding-right: 10px;
        margin-top: 2px;
        cursor: pointer;
    }
    
    .bg-transparent {
        background: transparent;
    }
    
    .bg-transparent ion-label {
        color: black;
        font-weight: bold;
    }
    
    ion-card-header {
        color: #32bd0b;
    }
    
    ion-title {
        padding-left: 100px;
    }
    
    ion-icon {
        padding-right: 0px;
        color: #ff010d;
    }
    
    h6 {
        margin-top: 0px;
        margin-left: 17px;
        color: #068a71;
        font-weight: bold;
    }
    
    ion-card {
        background: #FFFFFF;
        opacity: 0.5;
    }
    
    .user {
        margin-left: 0px;
        align-content: flex-start;
    }
    
    ion-row {
        display: flex;
    }
    
    ion-label {
        font-weight: bolder;
    }
    
    button {
        font-size: 22px;
        background: transparent;
    }
    
    .delete {
        background: transparent;
        margin-top: 9px;
        //   font-size: 22px;
        margin-left: 89%;
    }