ion-list {
    width: 86px;
}

ion-item {
    width: 100%;
}

ion-item {
    // margin-left: -16px;
    // padding-inline-start: 20px;
    cursor: pointer;
    padding-top: 0px;
    padding-bottom: 0px;
}