<ion-header>
    <ion-toolbar>
        <ion-back-button defaultHref="admin-view-devices" slot="start"></ion-back-button>
        <ion-title>Add Field</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-card>
        <form class="form" [formGroup]="validations_form" (ngSubmit)="addfield(validations_form.value)">
            <ion-row justify-content-centre>
                <ion-col align-self-center>
                    <div text-center></div>
                    <div padding>
                        <ion-item class="fieldname-box">
                            <ion-input formControlName="fieldname" type="text" placeholder="Field Name" style='text-transform:uppercase' required>
                            </ion-input>
                        </ion-item>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.fieldname">
                                <div class="error-message" *ngIf="validations_form.get('fieldname').hasError(validation.type) && (validations_form.get('fieldname').dirty || validations_form.get('fieldname').touched)">
                                    {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>

                        <ion-item class="Area-box">
                            <ion-input formControlName="area" type="number" min="1" placeholder="Area in Acre" required>
                            </ion-input>
                        </ion-item>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.area">
                                <div class="error-message" *ngIf="validations_form.get('area').hasError(validation.type) && (validations_form.get('area').dirty || validations_form.get('area').touched)">
                                    {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>
                        <ion-item class="location-box">
                            <ion-input formControlName="location" type="text" placeholder="Location" style='text-transform:uppercase' required>
                            </ion-input>
                        </ion-item>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.location">
                                <div class="error-message" *ngIf="validations_form.get('location').hasError(validation.type) && (validations_form.get('location').dirty || validations_form.get('location').touched)">
                                    {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>
                        <!-- <ion-item class="Device-box">
                            <ion-input formControlName="device" type="text" placeholder="Device" required>
                            </ion-input>
                        </ion-item> -->
                        <ion-item>
                            <ion-label>Device</ion-label>
                            <ion-select formControlName='device' placeholder="Select One" required>
                                <ion-select-option value="f">Female</ion-select-option>
                                <ion-select-option value="m">Male</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </div>
                </ion-col>
            </ion-row>
            <div class="error">
                <label class="error-message">{{errorMessage}}</label>
                <label class="success-message">{{successMessage}}</label></div>
            <ion-row class="buttons">
                <ion-button type="submit" class="button" shape="round" expand="block" [disabled]="!validations_form.valid">ADD</ion-button>
            </ion-row>
        </form>

    </ion-card>
</ion-content>