<ion-header>
    <ion-toolbar>
        <ion-back-button defaultHref="admin-view-devices" slot='start'></ion-back-button>
        <ion-title>Add Field</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-card>
        <form>
            <ion-row justify-content-centre>
                <ion-col align-self-center>
                    <div text-center>

                    </div>
                    <div padding>
                        <ion-item class="fieldname-box">
                            <ion-input formControlname="fieldname" type="text" placeholder="Field Name" required> </ion-input>
                        </ion-item>
                        <ion-item class="Area-box">
                            <ion-input formControlname="area" type="text" placeholder="Area" required> </ion-input>
                        </ion-item>



                        <ion-item class="location-box">
                            <ion-input formControlname="location" type="text" placeholder="Location" required></ion-input>
                        </ion-item>

                        <ion-item class="Device-box">
                            <ion-input formControlname="device" type="text" placeholder="Device" required> </ion-input>
                        </ion-item>

                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="buttons">
                <ion-button class="button" shape="round" expand="block">ADD</ion-button>

            </ion-row>
        </form>
    </ion-card>

</ion-content>