<ion-content padding>
    <ion-card-content class="mycard">
        <ion-buttons slot="start" class="mybtn">
            <ion-back-button color="grey" defaultHref="login"></ion-back-button>
        </ion-buttons>
        <img src="assets/images/front.png" alt="logo">

        <div class="myOverlay" padding>


            <div class="card-title">Recover <br>Password</div>
        </div>
    </ion-card-content>

    <form class="form" [formGroup]='myform' (ngSubmit)="resetPassword(myform.value); myform.reset()">
        <ion-grid>
            <ion-list>
                <ion-row justify-content-centre>
                    <ion-col align-self-center>

                        <div text-centre>

                        </div>
                        <div padding>
                            <ion-label class="lbl">Email</ion-label>

                            <ion-item class="itemform " lines="none">

                                <ion-input formControlName="email" class="email" name="email " type="Email " placeholder="abc@gmail.com " ngmodel required></ion-input>
                            </ion-item><br>

                        </div>




                    </ion-col>
                </ion-row>
                <ion-row>


                    <ion-col justify-content-centre>

                        <ion-button class="btn-send" (click)="resetPassword()" [disabled]="myform.invalid" expand="block" color="white" fill="outline">
                            <span class="txt-login">Send Link</span>

                        </ion-button>


                    </ion-col>




                </ion-row>
            </ion-list>
        </ion-grid>

    </form>


</ion-content>