img {
    width: 100%;
    height: 280px;
    position: relative;
    display: flex;
}

.myOverlay {
    width: 190pt;
    height: 150pt;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    opacity: 100%;
    font-size: 25pt;
    color: #f6f6f6;
    font-weight: 600;
    margin-left: 25px;
    display: flex;
    flex: auto;
}

.itemform {
    //padding-left: 30px !important;
    //padding-right: 30px;
    font-size: 0.9em;
    border: 1px solid #f1f1f1;
    background: rgb(219, 219, 219);
    height: 10%;
    //width: 100%;
    position: relative;
    border-color: #707070;
    background: none;
    //margin-left: 20px;
    border-radius: 5px;
    .email {
        width: 100%;
    }
}

.lbl {
    //margin-left: 20px;
    color: #707070;
}

.btn-send {
    color: #5887F9;
    margin-left: 120px;
    margin-top: 5px;
    width: 100px;
}

.mycard .mybtn {
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
}