ion-content {
    // --background: linear-gradient(to bottom, #FCF766, #D1FE3B);
    --background: linear-gradient(319deg, #dbf26e 52%, #61fa74 50%, #1cfdd6 100%)
}

ion-toolbar {
    --background: transparent;
}

ion-card {
    height: 10%;
    background: transparent;
}

.validation-errors {
    //padding-left: 20px;
    text-align: end;
    color: var(--ion-color-danger);
    font-size: small;
}

.error {
    .error-message {
        text-align: center;
        color: var(--ion-color-danger);
        font-size: small;
        margin-left: 10px;
    }
    .success-message {
        text-align: center;
        color: var(--ion-color-success);
        font-size: small;
        margin-left: 10px;
    }
}

ion-button {
    --background: #dbf26e 100%;
    color: black;
}