ion-content {
    --background: linear-gradient(to bottom, #FCF766, #D1FE3B);
}

ion-toolbar {
    --background: transparent;
}

ion-card {
    height: 10%;
}

.validation-errors {
    //padding-left: 20px;
    text-align: end;
    color: var(--ion-color-danger);
    font-size: small;
}

.error {
    .error-message {
        text-align: center;
        color: var(--ion-color-danger);
        font-size: small;
        margin-left: 10px;
    }
    .success-message {
        text-align: center;
        color: var(--ion-color-success);
        font-size: small;
        margin-left: 10px;
    }
}