<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light" defaultHref="motorstatus"></ion-back-button>
        </ion-buttons>
        <ion-title>Motor Setting</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-card class="top">
        <ion-card-title class="motor">
            <!--class="Span">Running</span>-->
            Auto On/Off
        </ion-card-title>

        <h2 class="h2"></h2>

        <div class="buttons">
            <ion-buttons>
                <ion-toggle class="toggle" class="all-custom" [(ngModel)]="Auto"></ion-toggle>
                <!--- <ion-button class="round " fill="solid " color="success " (click)="buttonMotor() ">ON</ion-button>
            <ion-button class="round " size="large " fill="solid " color="danger ">OFF</ion-button> -->
            </ion-buttons>
        </div>
        <form class="form">
            <ion-row justify-content-centre>
                <ion-col align-self-center>
                    <div text-center></div>
                    <div padding>
                        <ion-item class="min">
                            <ion-input type="number" min="10" placeholder="Minimum 10%" required>
                            </ion-input>
                        </ion-item>

                        <ion-item class="max">
                            <ion-input type="number" max="100" placeholder="Maximum 100%" required>
                            </ion-input>
                        </ion-item>





                    </div>
                </ion-col>
            </ion-row>

            <ion-row class="buttonns" justify-content-centre>
                <ion-button type="submit" class="button" shape="round" expand="block" [disabled]="!Auto">SET</ion-button>
            </ion-row>
        </form>
    </ion-card>

</ion-content>