ion-content {
    //--background: url('/assets/background.png') no-repeat center/cover fixed;
    //--background: linear-gradient(90deg, rgb(255, 204, 204), #ffcccc) no-repeat center/cover fixed;
    --background: linear-gradient(to right, #dd5e89, #f7bb97);
}

ion-toolbar {
    --background: #dd5e89;
    --border-style: none;
}

.top {
    height: 150px;
    margin-inline-start: 12px;
    margin-top: 16px;
    margin-inline-end: 12px;
    // background-color: #FEEBE5;
    // --background: linear-gradient(0deg, #abdcff, #d396ff);
    //background: linear-gradient(to right, #aa076b, #61045f);
    //background: linear-gradient(to right, #c31432, #240b36);
    //background: linear-gradient(180deg, #ff9966, #ff5e62);
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.19), 0 10px 6px rgba(0, 0, 0, 0.19);
}

.down {
    height: 150px;
    margin-inline-start: 12px;
    margin-top: 16px;
    margin-inline-end: 12px;
    // background-color: #FEEBE5;
    // --background: linear-gradient(0deg, #fff687, #f6416c);
    //background: linear-gradient(to right, #ff0099, #493240);
    // background: linear-gradient(to right, #333333, #dd1818);
    //background: linear-gradient(to right, #c94b4b, #4b134f);
    //background: linear-gradient(to right, #ffafbd, #ffc3a0);
    //background: linear-gradient(to right, #de6262, #ffb88c);
    //background: linear-gradient(to right, #ec6f66, #f3a183);
    // background: linear-gradient(180deg, #ed4264, #ffedbc);
    background: linear-gradient(to right, #ee9ca7, #ffdde1);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.19), 0 10px 6px rgba(0, 0, 0, 0.19);
    //opacity: 0.5;
}

.motor {
    font-size: small;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: bold;
}

h2 {
    color: rgb(93, 199, 93);
    text-align: center;
}

.buttons {
    margin-left: 140px;
    margin-left: 140px;
    margin-top: 20px;
}

.round {
    width: 60px;
    height: 40px;
    --border-radius: 50%;
    --vertical-align: middle;
    --padding-start: 10px;
    --padding-end: 10px;
}

.start {
    color: rgb(60, 180, 60);
    text-align: center;
    margin-inline-start: 112px;
    font-size: 20px;
}

.start-time {
    color: rgb(8, 6, 6);
    text-align: center;
}

.stop {
    color: red;
    text-align: center;
    margin-inline-start: 112px;
    font-size: 20px;
}

.h2 {
    color: red;
}

//.toggle {
// --background-checked: rgb(93, 199, 93);
/// --handle-background-checked: rgb(93, 199, 93);
//}
ion-toggle {
    --handle-background: no-repeat center/80% url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Ctitle%3Eionicons-v5-m%3C/title%3E%3Cpath d="M289.94,256l95-95A24,24,0,0,0,351,127l-95,95-95-95A24,24,0,0,0,127,161l95,95-95,95A24,24,0,1,0,161,385l95-95,95,95A24,24,0,0,0,385,351Z"/%3E%3C/svg%3E');
    --handle-background-checked: no-repeat center/80% url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Cpolyline points="416 128 192 384 96 288" style="fill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px;"/%3E%3C/svg%3E');
    width: 25%;
    //  height: 25px;
    --background-checked: rgb(93, 199, 93);
}

// --handle-background-checked: #fff url(/assets/start-button.png) no-repeat center / contain;
ion-no-border {
    border: none;
    background: transparent;
}

.history {
    margin-inline-start: 12px;
    margin-top: 16px;
    margin-inline-end: 12px;
    background: linear-gradient(to right, #ee9ca7, #ffdde1);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.19), 0 10px 6px rgba(0, 0, 0, 0.19);
    // height: 8%;
}

ion-list {
    padding-top: -10px;
    margin-top: 6px;
    margin-bottom: -21px;
    border-radius: 21px;
    background: transparent;
    padding-bottom: -10px;
}

ion-item {
    --border-radius: 21px;
}